.container {
  display: flex;
  flex-direction: column;
}

.button {
  margin: 8px;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.rightIcon {
  margin-left: 8px;
}

.title {
  display: flex;
}

.input {
  margin: 8px;
}
