@import '../../assets/bindings';

.container {
  display: flex;
  flex-direction: column;
}

.button {
  margin: $default-spacer;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.rightIcon {
  margin-left: $default-spacer;
}

.title {
  display: flex;
}

.input {
  margin: $default-spacer;
}
