@import '../../assets/bindings';

.root {
  width: 100%;
}

.heading {
  font-size: 24px;
  font-weight: normal;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 5px 15px;
  margin-bottom: $addNote-space-bottom;
}

.button {
  margin: $default-spacer;
}

.buttons {
  margin: $default-spacer;
  display: flex;
  justify-content: space-between;
}

.rightIcon {
  margin: $default-spacer;
}

.title {
  display: flex;
}

.input {
  margin: $default-spacer;
}
