@import '../../assets/bindings';

.listContainer {
}
.sexNote {
  background-color: $bg-gray-l;
  width: 100%;
  margin-bottom: 10px;
  border-radius: $default-spacer/2;
}

.feedContainer {
  width: 83.33%;
  display: flex;
  float: right;
  flex-direction: column;
}
.message {
}
.timestamp {
}
.note {
  display: flex;
  justify-content: space-between;
  padding: $default-spacer;
}
