@import '../../assets/bindings';

.listContainer {

}
.sexNote {
  background-color: $bg-gray-l;
  height: 80px;
  width: 100%;
  margin-bottom: 10px;
  border: 1px solid $bg-gray-d;
}

.feedContainer {
  width: 83.33%;
  display: flex;
  float: right;
  flex-direction: column;
}
