@import '../../assets/bindings';

.listContainer {

}
.sexNote {
  background-color: #ccc;
  height: 100px;
  width: 100%;
  margin-bottom: 10px;
  border: 1px solid #555;
}

.feedContainer {
  width: 83.33%;
  display: inline-grid;
}
