@import '../../assets/bindings';

.root {
  flex-grow: 1;
  height: 100px;
  width: 500px;
}

.input {
  display: contents !important;
  padding: 0 !important;
  height: auto !important;
}

.valueContainer {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  align-items: center;
  overflow: hidden;
}

.chip {
  margin: $default-spacer/2, $default-spacer/4;
}

.chipFocused {
  background-color: green;
}

.noOptionsMessage {
  padding: $default-spacer, $default-spacer*2;
}

.singleValue {
  font-size: 16px;
}

.placeholder {
  position: absolute;
  left: 2px;
  bottom: 6px;
  font-size: 16px;
}

.paper {
  position: absolute;
  z-index: 1;
  margin-top: $default-spacer;
  left: 2px;
  right: 0;
}

.divider {
  height: $default-spacer*2;
}