@import '../../assets/bindings';

.tagsContainer {
  width: $s-2;
  height: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: center;

  & .list {
    padding-right: 20px;

    & .tag {
      text-decoration: none;
      text-align: left;
      border: 1px solid $nocolor;
      padding: 5px 10px;
      margin: 5px;
      width: auto;
      margin-bottom: 1px;
      border-radius: 3px;
      background-color: $bg-gray-l;
      cursor: pointer;
      &:hover {
        &::before {
          content: '';
        }
        background-color: $bg-gray;
      }
    }
  }
}
