@import '../../assets/bindings';

.profileHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: $default-spacer*2;
}

.avatar {
  height: 200px !important;
  width: 200px !important;
}
