.listContainer {

}
.sexNote {
  background-color: #ccc;
  height: 100px;
  width: 100%;
  margin-bottom: 10px;
  border: 1px solid #555;
}
.menuContainer {
  display: inline-grid;
  width: 16.66%;
  & .menu {
    & li {
      text-decoration: none;
      list-style: none;
    }
  }
}
.feedContainer {
  width: 83.33%;
  display: inline-grid;
}
